---
import DefaultLayout from '../layouts/DefaultLayout.astro'
import Hero from '../components/Hero.astro'
import Feature from '../components/Feature.astro'
import ContentMedia from '../components/ContentMedia.astro'
import Lockup from '../components/Lockup.astro'
import CallToAction from '../components/CallToAction.astro'

import projects from '../data/projects.json'
---

<DefaultLayout title="Home">
  <Hero />
  <section class="my-32">
    <div class="container">
      <h2 class="text-6xl">On the Web</h2>
      <div class="mt-20 grid grid-cols-1 gap-8 sm:grid-cols-2 xl:grid-cols-3">
        <Feature icon="mdi:document" title="Resume" url="./resume.pdf" />
        <Feature icon="mdi:linkedin" title="LinkedIn" url="https://www.linkedin.com/in/mlcwlomtamlzujmczryr/" />
        <Feature icon="mdi:github" title="Github" url="https://www.github.com/mikeymanoguerra" />
        <Feature icon="mdi:codepen" title="Codepen" url="https://codepen.io/mikeymanoguerra/" />
        <Feature icon="mdi:instagram" title="Instagram" url="https://www.instagram.com/entropyparty/" />
      </div>
    </div>
  </section>

  <div class="container">
    <h2 class="text-6xl">Featured Projects</h2>
  </div>
  {
    projects
      .filter(({ featured }) => featured)
      .map(({ primaryUrl, secondaryUrl, heading, src, body }, index) => (
        <ContentMedia imgSrc={src} reverseImg={index % 2 === 1}>
          <Lockup heading={heading} secondaryUrl={secondaryUrl} primaryUrl={primaryUrl}>
            {body}
          </Lockup>
        </ContentMedia>
      ))
  }

  <section class="mb-32 mt-32">
    <CallToAction />
  </section>
</DefaultLayout>
